code {
  color: rgb(233, 213, 255);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #777;
}
.token.punctuation {
  color: white;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff00ff;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #98c379;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: white;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: rgb(168, 85, 247);
}
.token.function {
  color: rgb(236, 72, 153);
}
.token.regex,
.token.important,
.token.variable {
  color: #ff00ff;
}

.token.class-name {
  color: rgb(147, 197, 253);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
