.app-nav {
  position: sticky;
  top: 0;
  float: right;

  width: 300px;
}

.app-nav p {
  margin: 0;
}

.app-nav > a {
  margin: 0 1rem;
  padding: 5px 0;
}

.app-nav ul,
.app-nav li {
  display: block;
  margin: 0;
  list-style: none;
}

.app-nav a {
  transition: color 0.3s;
  color: inherit;
  font-size: 16px;
  text-decoration: none;
}

.app-nav a:hover {
  color: #000;
  color: var(--accent-color, #000);
}

.app-nav a.active {
  border-bottom: 2px solid #000;
  border-bottom: 2px solid var(--accent-color, #000);
  color: #000;
  color: var(--accent-color, #000);
}

.app-nav li {
  position: relative;
  margin: 0 1rem;
  padding: 5px 0;
  cursor: pointer;
}
