* {
  box-sizing: border-box;
}

body:not(.ready) {
  overflow: hidden;
}

body:not(.ready) [data-cloak],
body:not(.ready) .app-nav,
body:not(.ready) > nav {
  display: none;
}

main.hidden {
  display: none;
}

.progress {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;
  transition: width 0.2s;
  width: 0%;
  height: 2px;
}

img {
  max-width: 100%;
}

.sidebar {
  position: absolute;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  transition: transform 250ms ease-out;
  width: 300px;
}

.content {
  padding: 0 300px;
  transition: left 250ms ease;
}

.markdown-section iframe {
  width: 1px;
  min-width: 100%;
}

body.close .sidebar {
  transform: translateX(-300px);
}

body.close .content {
  left: 0;
}

@media print {
  .github-corner,
  .sidebar-toggle,
  .sidebar,
  .app-nav {
    display: none;
  }
}

section.cover {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

section.cover.show {
  display: flex;
}

section.cover .cover-main {
  position: relative;
  flex: 1;
}
