.app-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;

  &::before {
    background-image: url("../logo.svg");
    content: "";
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }

  .app-name-link {
    margin: 0;
    padding: 0;
    border: none;

    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
  }
}

.sidebar {
  line-height: 20px;

  padding: 0;

  border-right-color: var(--border-color);

  p {
    color: var(--sidebar-header-color);
    font-size: 12px;
    font-weight: 600;

    margin: 0;
    margin-top: 24px;

    padding: 8px 16px;
    padding-top: 0;

    line-height: 16px;

    text-transform: uppercase;
  }

  ul {
    margin: 0;
  }

  h1 {
    font-weight: 600;
  }

  a {
    display: block;

    color: var(--sidebar-link-color);
    border-left: 4px solid transparent;
    padding: 0 12px;
    margin-top: 4px;

    font-size: 14px;
    font-weight: 500;

    text-decoration: none;
  }
  li:hover {
    background-color: rgb(39 39 42);
  }

  li.active a {
    border-left-color: var(--accent-color);
    color: var(--accent-color);
    background-color: rgb(39 39 42);
  }

  li.collapse .app-sub-sidebar {
    display: none;
  }

  ul {
    padding: 0;
  }

  ul,
  ul li {
    list-style: none;
  }
}

.sidebar-toggle {
  display: none;

  min-height: 64px;
  padding: 0 16px;

  background-color: var(--background-color);
  border-color: var(--border-color);
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;

  z-index: 20;

  &:hover {
    cursor: pointer;
  }

  /* Hamburger Menu lines */
  span {
    display: block;
    margin-bottom: 4px;
    margin: 4px;
    height: 2px;
    background-color: rgb(113, 113, 122);
  }
  span:last-child {
    width: 8px;
  }

  .sidebar-toggle-button {
    margin: auto;
    min-width: 24px;
    min-height: 24px;
  }
}

.content {
  anchor-name: --my-anchor;
}

.sidebar-toggle {
  position: fixed;
  position-anchor: --my-anchor;

  left: anchor(left);
}

@media screen and (max-width: 768px) {
  .sidebar-toggle {
    display: block;
  }
}
